.beachDetailContainer {
   display: flex;
}
.beachDetail {
   width: 45%;
   height: calc(100vh - 120px);
   border-right: solid 1px #e1e2e3;
   overflow: auto;
   padding: 20px;
}
.beachDetail::-webkit-scrollbar {
   display: none;
   scroll-behavior: smooth;
}
.beachHeader {
   text-align: center;
   margin-top: 30px;
}
.beachTitle {
   margin: 0;
   color: #5595ff;
   font-weight: 800;
}
.beachLocation,
.beachKind {
   font-size: 15px;
   margin: 15px 0 0 0;
   color: #a6abbd;
}
.beachContentList {
   margin-top: 50px;
   padding: 0 50px;
}
.beachContent {
   display: flex;
   justify-content: space-between;
   font-size: 17px;
}
.beachContent > span:nth-child(2) {
   font-weight: 500;
}
