@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
   color: #424656;
   font-family: "Nanum Gothic";
   margin: 0;
}
a {
   text-decoration: none;
   color: inherit;
}
main {
   margin-top: 60px;
}
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 60px;
   padding: 0 50px;
   border-bottom: solid 1px #e1e2e3;
   background-color: #fff;
   position: fixed;
   z-index: 10;
   width: calc(100% - 100px);
   top: 0;
}
.header > h2,
.header > a {
   font-size: 22px;
   font-weight: 800;
}
.header > a {
   color: #a6abbd;
}
